<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.todoapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>To-do List Application</name>
    <description>
        Single Page To-do List Application using AngularJS
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
</widget>
